body {
    margin: 20px;
    background-color: #E2FFF2;
}

* {
    box-sizing: border-box;
}

.keyboard {
    border: 2px solid #000;
    border-radius: 4px;
    background-color: white;
    width: 95vw;
    max-width: 800px;
    margin: 30px auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 3px -3px 1px 1px;
    padding: 5px;
}

.up-down-arrows,
.key {
    border: 1px solid #000;
    border-radius: 3px;
    width: 5.5vw;
    max-width: 45px;
    height: 5.5vw;
    max-height: 45px;
    margin: 0.4vw;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px -1px 1px 1px;
}

.key:active,
.active-key {
    box-shadow: inset 1px -1px 3px 1px;
}

.up-down-arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.up-arrow,
.down-arrow {
    height: 2.9vh;
    margin: 0;
}

.up-arrow {
    margin-bottom: 0.25vw;
}

.down-arrow {
    margin-top: 0.25vw;
}

.line {
    display: flex;
    justify-content: space-between;
}

.backspace {
    width: 11.8vw;
    max-width: 98px;
}

.tab,
.backslash {
    width: 8.2vw;
    max-width: 67px;
}

.caps-lock {
    width: 9.3vw;
    max-width: 78px;
}

.enter {
    width: 13vw;
    max-width: 109px;
}

.lshift {
    width: 12.3vw;
    max-width: 104px;
}

.rshift {
    width: 17vw;
    max-width: 142.8px;
}

.ctrl {
    width: 8vw;
    max-width: 67.2px;
}


.win {
    width: 7.5vw;
    max-width: 60.8px;
}


.top {
    width: 3vw;
    min-width: 25px;
    height: 3vw;
    min-height: 25px;
}

.win__img {
    width: 2.5vw;
    min-width: 20px;
    height: 2.5vw;
    min-height: 20px;
}

.down,
.right,
.left {
    width: 2vw;
    max-width: 16.6px;
    height: 2vw;
    max-height: 16.6px;
}

.alt {
    width: 7vw;
    max-width: 58.8px;
}

.space {
    width: 34vw;
    max-width: 285.6px;
}

.d-none {
    display: none;
}

.yellow {
    background-color: yellow;
}

input {
    display: block;
    margin: 50px auto;
    width: 95vw;
    max-width: 800px;
    height: 60px;
    font-size: 24px;
}

input:focus {
    border: 1px solid #82A997;
    border-radius: 1px;
    outline: none;
}