body {
    background-color: #F0FCD4;
}

.main-block {
    margin: 8vh auto 0;
    background-color: #61D7DD;
    width: 80vw;
    box-shadow: 0px 0px 20px 1px grey;
}

.name-of-game {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #369C91;
}

.blocks {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.new-game {
    height: 10vh;
    width: 20vw;
    font: 24px Arial;
    font-weight: 550;
    background-color: #FCEDC2;
    border: none;
    box-shadow: 0px 0px 10px 0.5px #000;
    margin-bottom: 26px;
}

.new-game:hover,
.check-number:hover {
    border: 1px solid #000;
}

.new-game:active,
.check-number:active {
    background-color: white;
}

.enter-number {
    height: 5vh;
    width: 15vw;
    min-width: 160px;
    font-size: 20px;
    font-weight: 550;
    background-color: #FCEDC2;
    box-shadow: 0px 0px 10px 0.5px #000;
    margin: 3px 15px;
    border: none;
}

.enter-number:focus {
    outline: none;
}

.check-number {
    height: 5vh;
    width: 8vw;
    min-width: 100px;
    font-size: 15px;
    font-weight: 600;
    background-color: #FCEDC2;
    box-shadow: 0px 0px 10px 0.5px #000;
    margin: 3px 15px;
    border: none;
}

.prompt {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt__p {
    font-size: 24px;
    font-weight: 550;
}